<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
	<title>Basket Page</title>

	{% extends 'kev_estore/main.html' %}
	{% load static %}
	{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a class="btn btn-outline-dark" href="{% url 'golfgear' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th>Items: <strong>{{order.get_basket_num}}</strong></th>
						<th>Total: <strong>€{{order.get_basket_total|floatformat:2}}</strong></th>
						<th>
							<a style="float:right; margin:5px;" class="btn btn-success"
								href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="basket-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>

				{% for item in items %}
				<div class="basket-row">
					<div style="flex:2"><img alt="Golf Gear Image" class="row-image" src="{{item.golfgear.imageURL}}">
					</div>
					<div style="flex:2">
						<p>{{item.golfgear.name}}
					</div>
					<div style="flex:1">
						<p>€{{item.golfgear.price|floatformat:2}}
					</div>
					<div style="flex:1">
						<p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<img data-golfgear={{item.golfgear.id}} data-action="add" alt="Quantity Plus"
								class="chg-quantity update-basket" src="{% static  'images/arrow_up.png' %}">

							<img data-golfgear={{item.golfgear.id}} data-action="remove" alt="Quantity Minus"
								class="chg-quantity update-basket" src="{% static  'images/arrow_down.png' %}">
						</div>
					</div>
					<div style="flex:1">
						<p>€{{item.get_total|floatformat:2}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock content %}