{% extends 'kev_estore/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for clubs in clubs %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{clubs.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{clubs.name}}</strong></h6>
				<hr>

				<button data-clubs={{clubs.id}} data-action="add" class="btn btn-outline-secondary add-btn update-basket"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€{{clubs.price|floatformat:2}}</strong></h4>

			</div>
			
		</div>

		<!--<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_clubs_blue.png' %}">
			<div class="box-element product">
				<h6><strong>Intermediate Golf Clubs</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€500</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_clubs_grey.png' %}">
			<div class="box-element product">
				<h6><strong>Steel Shaft Clubs</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€900</strong></h4>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_clubs_red.png' %}">
			<div class="box-element product">
				<h6><strong>Graphite Shaft Clubs</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€750</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_irons_5toP.png' %}">
			<div class="box-element product">
				<h6><strong>Pro Clubs 5 to PWedge</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€550</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_irons_5toS.png' %}">
			<div class="box-element product">
				<h6><strong>Pro Clubs 5 to SWedge</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red"><strong>€600</strong></h4>

			</div>
		</div>-->
		{% endfor %}
	</div>


{% endblock content %}