<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="Golfing Gear App, A website in which you will find all of the best Golf Gear including clothing, clubs and Accessories">
    <meta name="keywords" content="Golf, Golf Clothing, Golf Accessories, Golf CLubs">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% extends 'kev_estore/main.html' %}
    {% block content %}


    <div class="notification">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
            {{ message | safe }}
        </div>
        {% endfor %}
    </div>


    <main>

        <div>
            <h1 style="color: red;"> <i>You are now logged out of GolfGear.io</i></h1>
            <h2 style="color: red;"> We hope to see you again soon!</h2>
            <p></p>
            <a href="{% url 'login' %}" class="btn btn-warning"><b>Return To Site</b></a>

        </div>

    </main>


    <footer>



    </footer>


    {% endblock content %}