<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Golfing Gear App, A website in which you will find all of the best Golf Gear including clothing, clubs and Accessories">
    <meta name="keywords" content="Golf, Golf Clothing, Golf Accessories, Golf CLubs">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase confirmation</title>
{% extends 'kev_estore/main.html' %}
{% block content %}

<header>


    <div class="header-bar">
        <h1>Congrats {{request.user.username}}!</h1>
        <h1>Your payment is approved, and purchase confirmed</h1>
        <h1>Your new golf gear is on its way!</h1>
        <p></p>
    </div>

    <div class="form">
        <p><i><b>We would love to hear your feedback!</b></i></p>
        <form onsubmit="revealMessage()">
            <input type="checkbox" id="excellent" name="excellent" value="Excellent">
            <label for="feedback1" style="color: green;"><b>Excellent Service</b></label><br>
            <input type="checkbox" id="medicore" name="medicore" value="Medicore">
            <label for="feedback2" style="color:rgb(87, 89, 229);"><b>Medicore Service</b></label><br>
            <input type="checkbox" id="poor" name="poor" value="Poor">
            <label for="feedback3" style="color:rgb(236, 32, 32);"><b>Poor Service</b></label>
            <br>
            <input style="background-color: cornsilk;" type="submit" value="Submit">
          </form>
    </div>

    <h3  id="thankyoumessage" style="display: none"><i>Thank You!</i></h3>
    
    
    </header>

    <script>
        function wait(ms){
        var start = new Date().getTime();
        var end = start;
        while(end < start + ms) {
        end = new Date().getTime();
        }
}
        function revealMessage(){
        document.getElementById("thankyoumessage").style.display = "block";
        document.querySelector(".form").style.display = "none";
        event.preventDefault();
    }
    </script>
     
{% endblock %}