<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="description" content="Golfing Gear App, A website in which you will find all of the best Golf Gear including clothing, clubs and Accessories">
	<meta name="keywords" content="Golf, Golf Clothing, Golf Accessories, Golf CLubs">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1">
	<title>Product Page</title>
	{% extends 'kev_estore/main.html' %}
	{% load static %}
	{% block content %}


	<div class="row">
		{% for golfgear in golfgears %}
		<div class="col-lg-4">
			<img alt="Golf Gear Image" class="thumbnail" src="{{golfgear.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{golfgear.name}}</strong></h6>
				<hr>

				<a href="{% url 'update_product' golfgear.id %}" data-golfgear="{{golfgear.id}}" class="btn btn-outline-secondary"><b>Update</b></a>
				<h5 style="display: inline-block; float:right; color:red"><strong>€{{golfgear.price|floatformat:2}}</strong></h4>

			</div>
		
		</div>

		
		{% endfor %}
	</div>

{% endblock content %}