{% extends 'kev_estore/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for accessorie in accessories %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_tees.jpeg' %}">
			<div class="box-element product">
				<h6><strong>{{accessorie.name}}</strong></h6>
				<hr>

				<button class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€{{accessorie.price}}</strong></h4>

			</div>
			
		</div>

		<!--<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_organiser.png' %}">
			<div class="box-element product">
				<h6><strong>Golf Organiser</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€25</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_rangefinder.png' %}">
			<div class="box-element product">
				<h6><strong>Golf Rangefinder</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€100</strong></h4>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_ball_marker.png' %}">
			<div class="box-element product">
				<h6><strong>Golf Ball Marker Set</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€12</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_club_cleaner.png' %}">
			<div class="box-element product">
				<h6><strong>Golf Club Cleaner Set</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€15</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_ball_retriever.png' %}">
			<div class="box-element product">
				<h6><strong>Golf Ball Retriever</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red"><strong>€20</strong></h4>

			</div>
		</div>-->
		{% endfor %}
	</div>


{% endblock content %}