{% extends 'kev_estore/main.html' %}
{% load static %}
{% block content %}
<div class="row">
     <div class="col-lg-6">
          <div class="box-element" id="form-wrapper">
               <form id="form">
                    <div id="user-info">
                         <div class="form-field">
                              <input required class="form-control" type="text" name="name" placeholder="Name..">
                         </div>
                         <div class="form-field">
                              <input required class="form-control" type="email" name="email" placeholder="Email..">
                         </div>
                    </div>
                    
                    <div id="shipping-info">
                         <hr>
                         <p>Shipping Information:</p>
                         <hr>
                         <div class="form-field">
                              <input class="form-control" type="text" name="address" placeholder="Address..">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="city" placeholder="City..">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="county" placeholder="County..">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="postalcode" placeholder="Postal code..">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="country" placeholder="Country..">
                         </div>
                    </div>

                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
               </form>
          </div>
          <br>
          <div class="box-element hidden" id="payment-info">
	          <small>Paypal Options</small>
          </div>
          
     </div>

     <div class="col-lg-6">


          <div class="box-element">
               <a  class="btn btn-outline-dark" href="{% url 'basket' %}">&#x2190; Back to Basket</a>
               <hr>
               <h3>Order Summary</h3>
               <hr>
               <div class="box-element">
				<div class="basket-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1.5"><strong>Price</strong></div>
					<div style="flex:1.5"><strong>Quantity</strong></div>
				</div>

               {% for item in items %}
				<div class="basket-row">
					<div style="flex:2"><img class="row-image" src="{{item.golfgear.imageURL}}">
					</div>
					<div style="flex:2"><p>{{item.golfgear.name}}
					</div>
					<div style="flex:2"><p>€{{item.golfgear.price|floatformat:2}}
					</div>
                         <div style="flex:1"><p>{{item.quantity}}
					</div>
				</div>
				{% endfor %}
               
               <h5>Items:   {{order.get_basket_num}}</h5>
               <h5>Total:  €{{order.get_basket_total|floatformat:2}}</h5>
          </div>
     </div>
</div>

<script type="text/javascript">
     var shipping = '{{order.shipping}}'

     if(shipping == 'False'){
          document.getElementById('shipping-info').innerHTML = ''
     }

     var form = document.getElementById('form')
     
     form.addEventListener('submit', function(e){
          e.preventDefault()
          console.log('Form submitted....')
          document.getElementById('form-button').classList.add('hidden')
          document.getElementById('payment-info').classList.remove('hidden')
     })

</script>
{% endblock content %}