{% extends 'kev_estore/main.html' %}
{% load static %}
{% block content %}
<div class="row">
     <div class="col-lg-6">
          <div class="box-element" id="form-wrapper">
               <form id="form">
                    <div id="user-info">
                         <div class="form-field">
                              <input required class="form-control" type="text" name="name" placeholder="Name..">
                         </div>
                         <div class="form-field">
                              <input required class="form-control" type="email" name="email" placeholder="Email..">
                         </div>
                    </div>
                    
                    <div id="shipping-info">
                         <hr>
                         <p>shipping Information:</p>
                         <hr>
                         <div class="form-field">
                              <input class="form-control" type="text" name="address" placeholder="Address..">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="city" placeholder="City..">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="county" placeholder="County..">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="postalcode" placeholder="Postal code..">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="country" placeholder="Country..">
                         </div>
                    </div>

                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
               </form>
          </div>
          <br>
          <div class="box-element hidden" id="payment-info">
	          <small>Paypal Options</small>
               <button id='make-payment'>Pay Now!</button>
          </div>
          
     </div>

     <div class="col-lg-6">


          <div class="box-element">
               <a  class="btn btn-outline-dark" href="{% url 'basket' %}">&#x2190; Back to Basket</a>
               <hr>
               <h3>Order Summary</h3>
               <hr>
               <div class="box-element">
				<div class="basket-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1.5"><strong>Price</strong></div>
					<div style="flex:1.5"><strong>Quantity</strong></div>
				</div>

               {% for item in items %}
				<div class="basket-row">
					<div style="flex:2"><img class="row-image" src="{{item.golfgear.imageURL}}">
					</div>
					<div style="flex:2"><p>{{item.golfgear.name}}
					</div>
					<div style="flex:2"><p>€{{item.golfgear.price|floatformat:2}}
					</div>
                         <div style="flex:1"><p>{{item.quantity}}
					</div>
				</div>
				{% endfor %}
               
               <h5>Items:   {{order.get_basket_num}}</h5>
               <h5>Total:  €{{order.get_basket_total|floatformat:2}}</h5>
          </div>
     </div>
</div>

<script type="text/javascript">
     var shipping = '{{order.shipping}}'
     var total = '€{{order.get_basket_total}}'

     if(shipping == 'False'){
          document.getElementById('shipping-info').innerHTML = ''
     }

     if (user != 'AnonymousUser'){
		 	document.getElementById('user-info').innerHTML = ''
		 }

     if (shipping == 'False' && user !='AnonymousUser'){
          document.getElementById('form-wrapper').classList.add("hidden");
          document.getElementById('payment-info').classList.remove("hidden");
     }

     var form = document.getElementById('form')
     
     form.addEventListener('submit', function(e){
          e.preventDefault()
          console.log('Form submitted....')
          document.getElementById('form-button').classList.add('hidden')
          document.getElementById('payment-info').classList.remove('hidden')
     })

     document.getElementById('make-payment').addEventListener('click', function(e){
          submitFormData()
     })

     function submitFormData(){
          console.log('payment button clicked')

          var userFormData = {
               'name':null,
               'email':null,
               'total':total,
          }

          var shippingInfo = {
               'address':null,
               'city':null,
               'county':null,
               'postalcode':null,
               'country':null,
          }

          if(shipping != 'False'){
               shippingInfo.address = form.address.value
               shippingInfo.city = form.city.value
               shippingInfo.county = form.county.value
               shippingInfo.postalcode = form.postalcode.value
               shippingInfo.country = form.country.value
               
          }

          if(user == 'AnonymousUser'){
               userFormData.name = form.name.value
               userFormData.email = form.email.value
               userFormData.total = form.total.value
               
          }

          console.log('shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'application/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				  console.log('Success:', data);
				  alert('Transaction completed');  
				  window.location.href = "{% url 'golfgear' %}"

     })
}


</script>
{% endblock content %}