{% extends 'kev_estore/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for clothing in clothings %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{clothing.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{clothing.name}}</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€{{clothing.price|floatformat:2}}</strong></h4>

			</div>
		
		</div>

		<!--<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_red_shirt.png' %}">
			<div class="box-element product">
				<h6><strong>Red Golf Shirt</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€25</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_white_shirt.png' %}">
			<div class="box-element product">
				<h6><strong>White Golf Shirt</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€32</strong></h4>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_trousers_check.jpeg' %}">
			<div class="box-element product">
				<h6><strong>Check Golf Trousers</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€45</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_ladies_trousers.jpeg' %}">
			<div class="box-element product">
				<h6><strong>Ladies Navy Golf Trousers</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€55</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/golf_trousers_teale.jpeg' %}">
			<div class="box-element product">
				<h6><strong>Teale Golf Trousers</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn"><b>Add to Basket</b></button>
				<a class="btn btn-outline-success" href="#"><b>View</b></a>
				<h4 style="display: inline-block; float:right; color:red""><strong>€50</strong></h4>

			</div>
		</div>-->
		{% endfor %}
	</div>

{% endblock content %}