<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account Page</title>

{% extends 'kev_estore/main.html' %}
{% block content %}


<header> 

<div class="header-bar">
    <h1>Golf Gear -  <br>
        Create Account
    </h1>

</div>
    

</header>

<main>

<div class="card-body">
<form method="POST">
    {% csrf_token %}
    <label style="font-size: large;">{{form.username.label}}</label>
    {{form.username}}

    <label style="font-size: large;">{{form.password1.label}}</label>
    {{form.password1}}

    <label style="font-size: large;">{{form.password2.label}}</label>
    {{form.password2}}
    
    <input style="margin-top: 10px; font-size: large; font-weight: bolder;" class="button" type="submit" value="Submit">
</form>
</div>

</main>

<footer>

<p>Already have an account? <a href="{% url 'login' %}" class="btn btn-warning">Login</a></p>


</footer>



{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}