<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="Golf Gear Site">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1">
	<title>Golf Gear Home Page</title>
    {% extends 'kev_estore/main.html' %}
    {% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-10 my-auto">
                <h1 class="display-4 logo-font">
                    Welcome to Golf Gear!<br>
                    We stock the newest and best valued golf clothing,
                    accessories and clubs on the market!
                    <br>
                    Our newest gear has arrived!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'golfgear' %}" class="shop-button btn btn-lg rounded-0 text-uppercase py-3">Check it out Now!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}