

body{
	background-color: hsl(0, 8%, 83%);
}

h1,h2,h3,h4,h5,h6{
	color: green;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

#basket-icon{
	width:35px;
    height: 35px;
	display: inline-block;
	margin-left: 10px;
}

#basket-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.basket-row{
	display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}


.product{
	border-radius: 0 0 4px 4px;
}

.thumbnail{
	width:100%;
	height:200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
	color: red;
}

.shop-button{
	border-radius: 0;
	color:rgb(255, 0, 200);
	animation: blinker 1s linear infinite;
	font-size: x-large;
}

@keyframes blinker {
	50% {
	  opacity: 0;
	}
  }


.row-image{
	width: 50px;
}

.basket-image{
	width: 50px;
}


.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}


.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

@keyframes example {
	from {background-color: red;}
	to {background-color: yellow;}
	}

.notification {
	color:black;
	text-align: center;
	top: 1rem;
	animation-name: example;
	animation-duration: 4s;
}

.card-body {
	padding: 10px;
	font-size: large;
}


.hidden{
	display: none!important;
}